
<footer class="page-footer">
	<ul class="logos">
		<li><a href="#">{{icon 'logo-imerco'}}Imerco</a></li>
		<li><a href="#">{{icon 'logo-illum'}}Illum</a></li>
		<li><a href="#">{{icon 'logo-illums'}}Illums bolighus</a></li>
		<li><a href="#">{{icon 'logo-magasin'}}Magasin</a></li>
		<li><a href="#">{{icon 'logo-salling'}}Salling</a></li>
		<li><a href="#">{{icon 'logo-inspiration'}}inspiration</a></li>
		<li><a href="#">{{icon 'logo-bahne'}}bahne</a></li>
		<li><a href="#">{{icon 'logo-kop-kande'}}Kop & Kande</a></li>
	</ul>
</footer>