
<footer class="page-footer">
	<ul class="logos">
		<li>{{icon 'logo-imerco'}}<span>Imerco</span></li>
		<li>{{icon 'logo-illum'}}<span>Illum</span></li>
		<li>{{icon 'logo-illumsbolighus'}}<span>Illums bolighus</span></li>
		<li>{{icon 'logo-magasin'}}<span>Magasin</span></li>
		<li>{{icon 'logo-salling'}}<span>Salling</span></li>
		<li>{{icon 'logo-inspiration'}}<span>inspiration</span></li>
		<li>{{icon 'logo-bahne'}}<span>bahne</span></li>
		<li>{{icon 'logo-kopogkande'}}<span>Kop & Kande</span></li>
	</ul>

	<div class="royalcph-logo">
		{{icon 'logo-royalcph'}}<span>Royal Copenhagen</span>
	</div>
</footer>