
<footer class="page-footer">
	<ul class="logos">
		<li><a href="http://www.imerco.dk">{{icon 'logo-imerco'}}<span>Imerco</span></a></li>
		<li><a href="http://www.illum.dk">{{icon 'logo-illum'}}<span>Illum</span></a></li>
		<li><a href="http://www.illumsbolighus.dk">{{icon 'logo-illumsbolighus'}}<span>Illums bolighus</span></a></li>
		<li><a href="http://www.magasin.dk">{{icon 'logo-magasin'}}<span>Magasin</span></a></li>
		<li><a href="http://www.salling.dk">{{icon 'logo-salling'}}<span>Salling</span></a></li>
		<li><a href="http://www.inspiration.dk">{{icon 'logo-inspiration'}}<span>inspiration</span></a></li>
		<li><a href="http://www.bahne.dk">{{icon 'logo-bahne'}}<span>bahne</span></a></li>
		<li><a href="http://www.kopogkande.dk">{{icon 'logo-kopogkande'}}<span>Kop & Kande</span></a></li>
	</ul>

	<div class="royalcph-logo">
		<a href="http://www.royalcopenhagen.com">{{icon 'logo-royalcph'}}<span>Royal Copenhagen</span></a>
	</div>
</footer>