<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">

	<!-- build:css assets/css/default.min.css -->
	<link rel="stylesheet" href="{{assets}}/css/default.css">
	<!-- endbuild -->
</head>
<body>


{{>header}}
{{> body}}
{{>footer}}

<!-- build:js assets/js/scripts.min.js -->
<script src="{{assets}}/js/libs/jquery-1.11.1.min.js"></script>
<script src="{{assets}}/js/libs/jquery-ui.min.js"></script>
<script src="{{assets}}/js/libs/jquery.ui.touch-punch.min.js"></script>
<script src="{{assets}}/js/libs/svg4everybody.min.js"></script>
<script src="{{assets}}/js/libs/jquery.flexslider-min.js"></script>
<script src="{{assets}}/js/libs/jquery.magnific-popup.js"></script>
<script src="{{assets}}/js/libs/dropkick/dropkick.js"></script>
<!-- endbuild -->
<script src="{{assets}}/js/main.js"></script>

</body>
</html>